:root {
    --color-background: #161616;
    --color-background-soft: #ececec;
    --color-font: #2e2e2e;
    --color-link: #a35c00;
    --color-dark-mode: #ececec;
    --shadow-color: 214deg 34% 5%;
    --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color)/ 0.20), 0.8px 1.6px 2px -0.8px hsl(var(--shadow-color)/ 0.20), 2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color)/ 0.20), 5px 10px 12.6px -2.5px hsl(var(--shadow-color)/ 0.20);
    --shadow-color: 210deg 22% 2%;
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgb(241, 241, 241);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(43, 42, 41);
    border-radius: 20px;
    border: 1px solid rgb(241, 241, 241);
}

body {
    scrollbar-width: thin;
    scrollbar-color: rgb(43, 42, 41)rgb(241, 241, 241);
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--font);
    min-height: 100vh;
}